#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  gap: 400px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.header-text {
  font-size: 30px;
  font-weight: 500;
}

.points {
  font-size: 30px;
  font-weight: 500;
  color: rgb(204, 212, 79);
  text-shadow:
    0 0 5px #8d8d8d,
    0 0 10px #8d8d8d,
    0 0 15px #8d8d8d;
}
